<footer class="footer-container container">
  <div class="footer-links">
    <div class="footer-links__column">
      <h4 class="footer-links__column__title">
        דף הבית
      </h4>
      <ul class="footer-links__list">
        <li class="footer-links__list__item">
          <a class="footer-links__list__item__link" href="#">אודות דנאל</a>
        </li>
        <li class="footer-links__list__item">
          <a class="footer-links__list__item__link" href="#">צור קשר</a>
        </li>
        <li class="footer-links__list__item">
          <a class="footer-links__list__item__link" href="#">חברות ממליצות</a>
        </li>
        <li class="footer-links__list__item">
          <a class="footer-links__list__item__link" href="#">הקוד האתי שלנו</a>
        </li>
      </ul>
    </div>
    <div class="footer-links__column">
      <h4 class="footer-links__column__title">
        לוח משרות
      </h4>
      <ul class="footer-links__list">
        <li class="footer-links__list__item">
          <a class="footer-links__list__item__link" href="#">חיפוש לפי תחום</a>
        </li>
        <li class="footer-links__list__item">
          <a class="footer-links__list__item__link" href="#">חיפוש לפי מקצוע</a>
        </li>
        <li class="footer-links__list__item">
          <a class="footer-links__list__item__link" href="#">חיפוש לפי התמחות</a>
        </li>
        <li class="footer-links__list__item">
          <a class="footer-links__list__item__link" href="#">חיפוש לפי אזור</a>
        </li>
      </ul>
    </div>

    <div class="footer-links__column">
      <h4 class="footer-links__column__title">
        שלח קורות חיים
      </h4>
      <ul class="footer-links__list">
        <li class="footer-links__list__item">
          <a class="footer-links__list__item__link" href="#">איך כותבים קורות חיים?</a>
        </li>
        <li class="footer-links__list__item">
          <a class="footer-links__list__item__link" href="#">יותר מדי נסיון?</a>
        </li>
        <li class="footer-links__list__item">
          <a class="footer-links__list__item__link" href="#">חורים בקורות חיים?</a>
        </li>
      </ul>
    </div>

    <div class="footer-links__column">
      <h4 class="footer-links__column__title">
        טבלאות שכר
      </h4>
      <ul class="footer-links__list">
        <li class="footer-links__list__item">
          <a class="footer-links__list__item__link" href="#">שכר - לא טכנולוגי</a>
        </li>
        <li class="footer-links__list__item">
          <a class="footer-links__list__item__link" href="#">טבלאות עבר - הייטק</a>
        </li>
        <li class="footer-links__list__item">
          <a class="footer-links__list__item__link" href="#">טבלאות עבר - לא טכנולוגי</a>
        </li>
      </ul>
    </div>

    <div class="footer-links__column">
      <h4 class="footer-links__column__title">
        שירותים
      </h4>
      <ul class="footer-links__list">
        <li class="footer-links__list__item">
          <a class="footer-links__list__item__link" href="#">גיוס עובדים</a>
        </li>
        <li class="footer-links__list__item">
          <a class="footer-links__list__item__link" href="#">השמת בכירים</a>
        </li>
        <li class="footer-links__list__item">
          <a class="footer-links__list__item__link" href="#">גיוס אנשי הייטק</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-contact">
    <div class="footer-contact__details">
      <h4 class="footer-contact__details__title">צרו איתנו קשר</h4>
      <div class="footer-contact__details__items">
        <div class="footer-contact__details__item" itemscope itemtype="http://schema.org/Corporation">
          <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">דרך אבא הילל סילבר 12</span>,
            <span itemprop="addressLocality">רמת גן</span>
          </div>
        </div>
        <div class="footer-contact__details__item">
          טל׳: <span itemprop="telephone">077-7725555</span> פקס: <span itemprop="faxNumber">077-7725550</span>
        </div>
        <div class="footer-contact__details__item">
          ימי ושעות פעילות: <time itemprop="openingHours" datetime="Su,Mo,Tu.We.Th 08:00-17:00">א׳ - ה׳, שעות 08:00-17:00</time>
        </div>
      </div>
    </div>

      <div class="footer-contact__facebook">
        <h4 class="footer-contact__facebook__title">דנאל בפייסבוק</h4>
        <img src="/images/fb_placeholder.jpg" alt="">
      </div>
  </div>

  <div class="footer__copyright">
    © כל הזכויות שמורות לדנאל
  </div>
</footer>
