<head>
  <meta charset="utf-8">
  <title>Gabriel Miro - OS X & iOS Tutorials For Developers</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="assets/stylesheets/style.css">
  <link rel="stylesheet" href="assets/fonts/alef/alef.css">
  <link rel="stylesheet" href="assets/fonts/almoni/almoni.css">
  <link rel="stylesheet" href="assets/fonts/stanga/stanga.css">
  <!--jQuery CDN-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <!--Local fallback-->
  <script type="text/javascript">
    if (!window.jQuery) {
      document.write('<script src="assets/javascript/jquery-2.2.3.min.js"><\/script>');
    }
  </script>
</head>
