<head>
  <meta charset="utf-8">
  <title>Gabriel Miro - {{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- CSS -->
  <!-- build:css /assets/stylesheets/style.min.css -->
  <link rel="stylesheet" href="/bower_components/floatl/dist/css/floatl.min.css">
  <link rel="stylesheet" href="/bower_components/highlightjs/styles/xcode.css">
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  <!-- endbuild -->
  <link rel="stylesheet" href="/assets/fonts/catamaran/catamaran.css">
  <link rel="stylesheet" href="/assets/fonts/roboto_condensed/roboto_condensed.css">

  <!-- JS -->
  <!-- build:js /assets/javascript/all.min.js -->
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/floatl/dist/js/floatl.min.js"></script>
  <script type="text/javascript" src="/bower_components/highlightjs/highlight.pack.min.js"></script>
  <script type="text/javascript" src="/bower_components/clipboard/dist/clipboard.min.js"></script>

  <script src="/assets/javascript/script.js"></script>
  <!-- endbuild -->
</head>
