.tutorial__post__footer
  margin-top: 5em
  padding: 1em
  border-top: 1px solid $mist
  border-bottom: 1px solid $mist
  color: $grey-medium
  font:
    size: 1rem
    family: $catamaran
  text-align: center

  +respond-at(940px)
    +clearfix()
    padding: 1.1em 3.25em
    text-align: left


.tutorial__post__footer__avatar__wrapper
  margin: 0 auto
  width: 3.5em

  +respond-at(940px)
    float: left
    margin: .7em 1.5em 0 0


.tutorial__post__footer__avatar
  display: block
  margin: 0 auto
  width: 100%
  border-radius: 50%


.tutorial__post__footer__info
  margin: .55em auto 0
  max-width: 25.5em
  font-size: 1.05em

  +respond-at(940px)
    float: left
    margin: 0
    max-width: 25.5em


.tutorial__post__footer__info__author__name
  margin: 0
  font:
    size: 1.2em
    weight: $weight-light
  line-height: 1em


.tutorial__post__footer__info__author__slogan
  display: inline-block
  margin: .35em 0 0
  line-height: 1.4em


.tutorial__post__footer__author__link__wrapper
  margin-top: .6em

  +respond-at(940px)
    margin-top: 1.5em
    float: right


.tutorial__post__footer__author__link
  display: inline-block
  @extend .link-with-round-border-style
  +add-global--category-border-color-classes()
