.tutorial__post__recent__tutorials
  margin: 5em auto
  color: $grey-medium
  font:
    weight: $weight-thin
    size: 1rem


.tutorial__post__recent__tutorials__title
  margin: 0
  font:
    weight: $weight-thin
    size: 1.45em


.tutorial__post__recent__tutorials__list
  margin: 1em 0 0
  padding: 0
  list-style: none


.tutorial__post__recent__tutorials__list__item
  padding: 1em 0
  border-bottom: 1px solid $mist

  &:first-child
    border-top: 1px solid $mist



.tutorial__post__recent__tutorials__list__item_type
  vertical-align: middle


.tutorial__post__recent__tutorials__list__item__title
  display: inline-block
  vertical-align: middle
  margin: 0
  font:
    weight: $weight-thin
    size: 1em


.tutorial__post__recent__tutorials__list__item__info
  display: inline-block
  float: right
  vertical-align: middle

.tutorial__post__recent__tutorials__link
  display: inline-block
  margin-top: 1.5em
  padding: 0 .5em .25em
  border: 1px solid
  border-radius: .185em
  text-decoration: none
  line-height: 1.3em
  font-size: 1.05em
  +add-global--category-border-color-classes()
