.tutorial__post__content

  p
    margin-bottom: 0
    margin-top: 1.4em
    font-weight: $weight-light
    line-height: 1.6em


  strong
    color: $grey-dark
    font-weight: $weight-medium


  h2
    margin-top: 2em
    margin-bottom: .25em
    line-height: 1.3em
    color: rgba($grey-dark, .9)


  pre
    position: relative
    margin: 1.4em 0 0
    padding: 2em 0 .35em
    border: .1px solid rgba($mist, .4)
    border-radius: .2em
    line-height: 0
    background-color: rgba($grey-light, .07)


  code
    border: .1px solid rgba($mist, .6)
    border-left: 0
    border-right: 0
    font:
      family: $monospace
      weight: $weight-thin
    line-height: 1.5em

    &.snippet__base-code
      display: inline-block
      margin: 0 .35em
      padding: .35em .35em
      border: .1px solid rgba($mist, .55)
      line-height: 1em

    &.swift
      padding: .3em 0 0
      border-radius: .25em


  ul
    list-style: none
    margin: 1em 0
    padding-left: 1em

    li
      position: relative
      padding-left: 1em

      &::before
        content: ""
        position: absolute
        width: .4em
        height: .4em
        top: .65em
        left: 0
        background-color: $grey-medium

  img
   max-width: 100%
   border: 1px solid $mist
   border-radius: .2em

  .copy__code__snippet
    +reset-button-style()
    position: absolute
    display: block
    top: .5em
    right: .5em
    height: 2em
    width: 4.5em
    color: $white
    font-size: .9rem
    border-radius: .165em
    background: rgba($grey-medium, 0.65)
    font-family: $monospace
    line-height: .5em
    transition: background-color .2s ease-out, color .2s ease-out

    &:hover
      background: rgba($grey-medium, 0.9)

    &.copy__code__snippet--success
      color: $success
      background: darken($grey-medium, 10%)


  // Adding style color change by category main color.
  +add-global-tags-color()
