<footer class="tutorial__post__footer">
  <div class="tutorial__post__footer__author__wrapper">
    <div class="tutorial__post__footer__avatar__wrapper">
      <img class="tutorial__post__footer__avatar" src="/images/gabiriel-miro-avatar.jpg" alt="Gabriel Miro Avatar" title="Gabriel Miro Avatar"/>
    </div>
    <div class="tutorial__post__footer__info">
      <h4 class="tutorial__post__footer__info__author__name c--{{ category_color }}">{{ page.author }}</h4>
      <p class="tutorial__post__footer__info__author__slogan">
        I am an accomplished programmer, development manager, educator, speaker with over 40 years of experience.
      </p>
    </div>
  </div>
  <div class="tutorial__post__footer__author__link__wrapper">
    <a class="tutorial__post__footer__author__link c--{{ category_color }}" href="/about">About Me</a>
  </div>
</footer>
