<ul class="tutorial__post__icons__social">
  <li class="tutorial__post__icons__social__item">
    <a class="tutorial__post__icons__social__item__link" href="#twitter" title="Share on Twitter">
      <img class="tutorial__post__icons__social__item__icon" src="/images/elements/twitter-dark.svg" alt="Share tutorial on twitter icon"/>
    </a>
  </li>
  <li class="tutorial__post__icons__social__item">
    <a class="tutorial__post__icons__social__item__link" href="#facebook" title="Share on Facebook">
      <img class="tutorial__post__icons__social__item__icon" src="/images/elements/facebook-dark.svg" alt="Share tutorial on facebook icon"/>
    </a>
  </li>
  <li class="tutorial__post__icons__social__item">
    <a class="tutorial__post__icons__social__item__link" href="#email" title="Share as an e-mail">
      <img class="tutorial__post__icons__social__item__icon" src="/images/elements/envelope-dark.svg" alt="Share tutorial on facebook icon"/>
    </a>
  </li>
</ul>
