<ul class="tutorial__post__social__icons">
  <li class="tutorial__post__social__icons__item">
    <a class="tutorial__post__social__icons__item__link" href="#twitter" title="Share on Twitter">
      <img class="tutorial__post__social__icons__item__icon" src="/images/elements/twitter-dark.svg" alt="Share tutorial on twitter icon"/>
      <span class="tutorial__post__social__icons__item__text">Twitter</span>
    </a>
  </li>
  <li class="tutorial__post__social__icons__item">
    <a class="tutorial__post__social__icons__item__link" href="#facebook" title="Share on Facebook">
      <img class="tutorial__post__social__icons__item__icon" src="/images/elements/facebook-dark.svg" alt="Share tutorial on facebook icon"/>
      <span class="tutorial__post__social__icons__item__text">Facebook</span>
    </a>
  </li>
  <li class="tutorial__post__social__icons__item">
    <a class="tutorial__post__social__icons__item__link" href="#email" title="Share as an e-mail">
      <img class="tutorial__post__social__icons__item__icon" src="/images/elements/envelope-dark.svg" alt="Share tutorial on facebook icon"/>
      <span class="tutorial__post__social__icons__item__text">E-mail</span>
    </a>
  </li>
</ul>
