
// Font Names
$alef: 'alef';
$almoni: 'almoni-dl';
$stanga: 'stanga';
$sans-serif:  Arial, Verdana, sans-serif;

// Font Weights
$light: 300;
$regular: 400;
$bold: 700;
$boldest: 900;

// Default font stack
body {
  font-family: Alef, Arial, sans-serif;
}
