.nav {
  display: flex;
  height: 3rem;
  background-color: $grey;
}

.nav__logged-in {
  border-bottom: 3px solid $dark-blue;
}

.nav__list {
  @include font($regular, 1.25rem, $almoni);
  display: flex;
  width: 82.875rem;
  padding: 0;
  align-items: center;
  margin: auto;
  list-style: none;
  text-align: center;
}

.nav__list__item {
  margin-left: 3.85rem;
}

.nav__list__item__link {
  text-decoration: none;
  color: $dark-grey;
}
