.page-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 3.325rem;

  @include respond-at(1280px) {
    flex-direction: row;
  }
}

.page__title {
  @include font($regular, 3.375rem, $stanga);
  margin: 2.1rem 0 0;
  color: $dark-blue;
}

.page__description {
  @include font($regular, 1.125rem, $alef);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page__description__text-wrapper {
  max-width: 45.625rem;
  margin-top: 1rem;
}

.page__description__text {
  margin: .2rem 0;
  line-height: 1.7;
}

.page__description__img {
  width: 9.5625rem;
  height: 10rem;

  @include respond-at(1440px) {
    margin: 0 2.5rem;
  }
}

.page__header__img {
  height: 16.5625rem;
  background-image: url('/images/hero-tmp.jpg');
  background-size: cover;
  background-position: 0% 40%;
}

.page__header__title {
  @include font($regular, 5rem, $stanga);
  position: relative;
  top: 10.625rem;
  color: $white;
}

.page__header__bottom {
  height: 6.5625rem;
  background-color: $azure;

  &--short {
    height: 5.5625rem;
  }
}

.page__header__bottom__tagline-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  color: $white;
}

.page__header__bottom__tagline__heading {
  @include font($regular, 3.375rem, $stanga);
  margin: 0;
  color: $white;
}

.page__header__bottom__tagline {
  @include font($regular, 1.125rem, $alef);
  margin: 0;
}

//*** Page Menu ***/

.page__menu {
  height: 5.625rem;
  border-bottom: 2px solid $mist;
}

.page__menu__wrapper {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.page__menu__section {
  display: flex;
}

.page__menu__sort-subject-wrapper {
  display: flex;
  width: auto;
  margin-left: 3rem;
  align-items: center;
}

.page__menu__sort-subject__title {
  margin-right: .625rem;
  white-space: pre;
  color: $dark-grey;
}

//*** Page Sidebar ***//

.page__sidebar__links {
  @include font($light, 1.625rem, $almoni);
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;

  @include respond-at(1280px) {
    display: block;
    width: 13.3rem;
  }
}

.page__sidebar__links__item {

  @include respond-at(1280px) {
    margin-top: 2.4125rem;
  }
}
