---
layout: default
post: true
---
{% capture main_post_category %}{{ page.category | downcase | replace_first: ' ', '-' }}{% endcapture %}
{% capture skill_level %}{{ site.data.settings.skill[page.skill] }}{% endcapture %}
{% capture category_color %}{{ site.data.settings.categories[page.category] }}{% endcapture %}

<!-- Header -->
{% include layouts/post/header.html %}
<div class="tutorial__post tutorial__post--{{ main_post_category }}">
  <div class="tutorial__post__wrapper">
    <!-- Tutorial content -->
    <section class="tutorial__post__content">{{ content }}</section>
    <!-- Footer -->
    {% include layouts/post/footer.html %}
    <!-- Social links small devices -->
    <div class="tutorial__post__social">
      <span class="tutorial__post__social__text">Share this tutorial with others</span>
      {% include layouts/post/social_links.html %}
    </div>
    <!-- Recent posts -->
    {% include layouts/post/recent_posts.html %}
  </div>
</div>

