<div class="about__homepage">
  <img class="about__homepage__avatar" src="/images/gabiriel-miro-avatar.jpg" alt="Gabriel Miro Avatar" title="Gabriel Miro Avatar"/>
  <p class="about__homepage__me">
    Hi, I'm Gabriel Miro
    <br/>
    I am an accomplished programmer, development manager,
    educator, speaker with over 40 years of experience.
  </p>
  <div class="about__homepage__divider"></div>
  <p class="about__homepage__site">
    There are many good resources to learn from how to write iOS and macOS apps,
    my mission is to complement these tutorials by focusing on and extending those
    important details that they fail to mention. We start where other macOS and iOS tutorials end!
  </p>
</div>
